---
const { post, width, height, type } = Astro.props;
import FormattedDate from './FormattedDate.astro';
import Picture from 'astro/components/Picture.astro';
---

<li class="card">
	<a href={`/${type || 'blog'}/${post.slug}/`}>
		<Picture width={width} height={height} src={post.data.heroImage} alt={post.data.title} />
		<h3 class="title">{post.data.title}</h3>
		{
			type !== 'short' && (
				<span>
					<FormattedDate date={post.data.pubDate} /> - {post.data.readingTime}
				</span>
			)
		}
		{
			type === 'short' && (
				<span>
					<FormattedDate date={post.data.pubDate} />
				</span>
			)
		}
	</a>
</li>

<style>
	li {
		width: 100%;
		margin: 0 auto;
	}
	img {
		border-radius: 4px 4px 0 0;
		border-bottom: 2px solid var(--border);
		object-fit: cover;
		width: 100%;
		height: 150px;
	}
	a {
		border-radius: 6px;
		text-decoration: none;
		background: var(--bg-light);
		display: flex;
		flex-direction: column;
		color: var(--text);
		height: 100%;
		border: 2px solid var(--border);
		box-shadow: var(--box-shadow);
		transition-property: all;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		transition-duration: 0.15s;
	}
	a:hover,
	a:focus {
		box-shadow: 0 0 var(--black);
		transform: translateY(6px);
	}
	a:focus {
		outline-offset: 2px;
		outline: 2px solid var(--text);
		border-radius: 4px;
	}
	h3 {
		padding: 0.5em 1em 0.2em;
		font-size: 1em;
		line-height: 1.4;
		margin: 0;
	}
	span {
		padding: 0em 1em;
		font-size: 0.8em;
		margin-bottom: 0.5em;
	}
</style>
